/* Reset CSS */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
}

/* Body Styles */
body {
    font-family: 'Scope One'; /* Normal font weight */
    line-height: 1.5; /* Adjust line height for better readability */
    background: #FAF8F4;
    color: #000000;
}

section {
    display: flex;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    height: 100%; /* Set section height to full viewport height */
}

form {
    text-align: center; /* Center text inside form */
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Scope One';
    font-weight: 100; /* Normal font weight */
    line-height: 1.2; /* Adjust line height for better readability */
    text-transform: uppercase;
}

p {
    font-family: 'Scope One';
    font-weight: 100; /* Normal font weight */
    line-height: 1.2;
}

/* Navigation Bar */

nav {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #FAF8F4;
    font-family: 'Scope One';
}

.navbar {
    background: #FAF8F4;
    font-family: 'Scope One';
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 400px;
    font-weight: 100;
    color: #000000;
    text-transform: uppercase;
}

.footer-logo {
    font-size: 400px;
    font-weight: 100;
    color: #FFFFFF;
    text-transform: uppercase;
}

.navbar li {
    list-style: none;
    display: inline-block;
}

.navbar li a {
    color: #000000;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    margin-right: 25px;
}

/* Blockquote Styles */
blockquote {
    margin: 20px 0;
    padding: 10px 20px 0 20px;
    border: 1px solid #8B8B83;
    background: #FAF8F4;
}

/* Signup Button Styles */
.button {
    background-color: #6B8E23;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button1 {
    background-color: #6B8E23; 
    color: white; 
    border: 2px solid #6B8E23;
    width: 500px;
    height: 70px;
    font-size: 22px;
    font-family: 'Scope One';
    font-weight: 100;
    text-transform: uppercase;
}
  
.button1:hover {
    background-color: white;
    color: #6B8E23;
}

.button2 {
    background-color: #6B8E23; 
    color: white; 
    border: 2px solid #6B8E23;
    width: 100px;
    height: 50px;
    font-size: 22px;
    font-family: 'Scope One';
    font-weight: 100;
    text-transform: uppercase;
}
  
.button2:hover {
    background-color: white;
    color: #6B8E23;
}

.button3 {
    background-color: #6B8E23; 
    color: white; 
    border: 2px solid #6B8E23;
    width: 138px;
    height: 50px;
    padding-top: 15px;
    font-size: 16px;
    font-family: 'Scope One';
    font-weight: 100;
    text-transform: uppercase;
    overflow: hidden;
}
  
.button3:hover {
    background-color: white;
    color: #6B8E23;
}

.button4 {
    background-color: #6B8E23; 
    color: white; 
    border: 2px solid #6B8E23;
    width: 500px;
    height: 70px;
    font-size: 25px;
    font-family: 'Scope One';
    font-weight: 100;
    text-transform: uppercase;
    padding-left: auto;
    padding-right: auto;
}
  
.button4:hover {
    background-color: white;
    color: #6B8E23;
}

/* Input Box Styles */
.input-box {
    width: 500px;
    height: 70px;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 0;
    font-family: 'Scope One';
    font-size: 22px;
    padding-left: 20px;
    justify-content: center;
}

.radio-input {
    display: none; /* Hide the default radio button */
}

.radio-custom {
    width: 20px; /* Width of the square */
    height: 20px; /* Height of the square */
    border: 1px solid #CDCDCD; /* Border color */
    border-radius: 0; /* No border radius for square */
    background-color: #FFFFFF; /* Background color */
    display: inline-block; /* Make the custom element inline */
    cursor: pointer; /* Show pointer cursor when hovering */
    vertical-align: middle; /* Align vertically with the label */
    margin-right: 10px; /* Adjust spacing between custom button and label */
}

/* Checked state */
.radio-input:checked + .radio-label .radio-custom {
    background-color: #6B8E23; /* Change background color when checked */
}

/* Label styles */
.radio-label {
    font-size: 22px; /* Font size */
    font-family: 'Scope One';
    font-weight: 100;
    line-height: 1.5;
    color: #000000;
}

.radio-label u {
    text-decoration: underline; /* Underline <u> elements */
}

table td {
    padding: 15px 20px; /* Adjust the vertical padding (15px) to increase spacing between rows */
}

table th:nth-child(2), table td:nth-child(2) {
    width: 300px; /* Set a specific width for the second column */
}